<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharding.migrate.mapper.DataSourcesMapper">
  <resultMap id="BaseResultMap" type="com.sharding.migrate.domain.Databasesource">
    <!--@mbg.generated-->
    <!--@Table sharding_migrate.databasesource-->
    <result column="datasource_id" jdbcType="VARCHAR" property="datasourceId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="databasetype" jdbcType="VARCHAR" property="databasetype" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    datasource_id, url, user_name, pass_word, code, databasetype
  </sql>
  <insert id="insertDataSource" parameterType="com.sharding.migrate.domain.Databasesource">
    <!--@mbg.generated-->
    insert into sharding_migrate.databasesource (datasource_id, url, user_name, 
      pass_word, code, databasetype
      )
    values (#{datasourceId,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{passWord,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{databasetype,jdbcType=VARCHAR}
      )
  </insert>

  <select id="selectAll" resultType="com.sharding.migrate.domain.Databasesource">
    <!--@mbg.generated-->
    select
    *
    from databasesource
  </select>
</mapper>